img {
    padding: 10px 0;
}

.book-details{
    display: inline-block
}

.info-display {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 40%;
    grid-template-areas: "title title" "author price";
}

.title {
    grid-area: title
}

.author {
    grid-area: author
}

.price {
    font-size: 110%;
    grid-area: price;
    text-align: right;
}